//Brand Colors
$blue: #2E67FF;
$dark-grey: #3F3C43;
$white: #EFF3F5;

//Accent Colors
$mint: #21C389;
$purple: #6C63FF;
$fire: #FF7676;
$honey: #EEAC57;

//Background colors
$background: #EAF0FF;
$gradient: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(234,240,255,1) 50%, rgba(234,240,255,1) 100%);
$sub_gradient: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(234,240,255,1) 100%);

//Font Colors
$heading: $dark-grey;
$body: #676F78;

$headline: #3A3A3A;
$paragraph: #414B56;

//Font
$font: 'Roboto', 'Open Sans', sans-serif;
$sub-font: 'Red Hat Display', 'Open Sans', sans-serif;